.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* main */

main {
    width: 1200px;

    margin-top: 140px;
}

.book-info-group {
    position: relative;

    display: flex;

    width: 100%;
    height: calc(100vh - 140px - 40px);
}

.auther-introduce {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 100px;
    height: fit-content;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(2px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.125);
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-top: none;
}

.auther-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5px;

    width: 100%;
}

.profile-img {
    background-image: url(https://img.freepik.com/premium-vector/default-avatar-profile-icon-social-media-user-image-gray-avatar-icon-blank-profile-silhouette-vector-illustration_561158-3383.jpg);
    background-size: cover;
    background-position: 50% 50%;

    width: 50px;
    height: 50px;

    border-radius: 50%;
}

.auther-style {
    width: 100%;
    padding: 2.5px 0;

    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: #40da88;
    background-color: #40da8823;
}

.auther-name {
    color: rgba(0, 0, 0, 0.75);
}

.auther-follower {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}

.btn-group {
    display: flex;
    gap: 5px;
}

.btn {
    cursor: pointer;
}

.follow-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 5px;

    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    border-radius: 2.5px;
}

.follow-btn:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.about-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 10px;
    height: 100%;
    padding: 5px 7.5px;
    
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 2.5px;
}

.about-btn:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.about-btn img {
    height: 14px;

    opacity: 0.75;
}

.book-cover {
    display: flex;
    justify-content: center;
    align-items: center;

    width: calc(50% - 100px);
    height: calc(100vh - 200px);
}

.book {
    background-image: url(https://images.unsplash.com/photo-1607457561901-e6ec3a6d16cf?q=80&w=3000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 50% 50%;

    width: 172px;
    padding: 10px;
    
    aspect-ratio: 1/1.5;
    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.125);
    scale: 200%;
    transition: .3s;
}

.book-title {
    font-size: 22px;
    color: rgb(255, 255, 255);
}

.book-info-group .book-info {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 50%;
    /* height: fit-content; */
    padding: 20px;

    border: 1px solid rgba(0, 0, 0, 0.125);
    border-top: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.125);
}   

.top-book-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-book-info .about-btn {
    background-color: #fff;
}

.top-book-info .about-btn img {
    height: 16px;
    scale: 125%;
    transform: translateX(3px);
}

.book-info-title {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 32px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.75);
}

.book-style-group {
    display: flex;
    gap: 10px;
}

.book-style {
    position: relative;

    padding: 5px 10px;
    font-weight: 500;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.125);
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
    border-radius: 2.5px;
    overflow: hidden;
    z-index: 0;
}

.first-place {
    background-color: rgba(255, 30, 0, 0.25);
    border: 1px solid rgba(255, 30, 0, 0.5);
    color: rgb(255, 30, 0);
}

.first-place::before {
    content: "";

    position: absolute;
    top: -10%;
    right: calc(50% - 10px);
    display: block;
    width: 20px;
    height: 140%;
    transform: rotate(10deg);
    background-color: rgba(255, 255, 255, 0.75);
    filter: blur(3px);
    z-index: -100;
}

.please-read {
    background-color: rgba(255, 0, 230, 0.25);
    border: 1px solid rgba(255, 0, 230, 0.5);
    color: rgb(255, 0, 230);
}

.price {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.75);
}

.discount {
    text-decoration: line-through;
    color: lightgray;
    font-size: 18px;
}

.cuppon-discount {
    font-size: 14px;
}

.review-score {
    color: rgba(0, 0, 0, 0.5);
}

.score {
    color: rgba(255, 38, 0, 0.75);
}

.review-index {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.25);
}

.review-container {
    width: 100%;
    height: calc(100vh - 140px - 40px - 26.5px - 60px - 38.5px - 19.5px - 50px - 36.5px - 60px - 40px   );
    /* 할인 하는 작품일 경우에 -50px */
}

.review-container-cover {
    position: relative;
}

.review-container {
    padding: 5px 0;

    overflow: scroll;
    scrollbar-width: none;
}

.review-container-cover::before {
    content: "";

    display: block;
    position: absolute;
    top: 0;

    width: 100%;
    height: 5px;
    background: linear-gradient(#fff, rgba(0, 0, 0, 0));
    z-index: 100;
}

.review-container-cover::after {
    content: "";
    
    display: block;
    position: absolute;
    bottom: 0;
    
    width: 100%;
    height: 5px;
    background: linear-gradient(rgba(0, 0, 0, 0), #fff);
    z-index: 100;
}

.review-container ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reviews {
    position: relative;

    display: flex;

    width: 100%;
    height: 100%;

    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.05);
}

.review-auther-profile-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    width: 120px;
    height: fit-content;
    padding: 15px;
    padding-right: 5px;

    border-radius: 2.5px;
}

.right-group {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 100%;
    padding: 5px;
    padding-left: 0;
    
    border-radius: 2.5px;
}

.bar {
    width: calc(100% - 20px);
    height: 1px;

    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.125);
}

.top-review-group {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;

    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.75);
}

.review-self-score {
    color: rgba(255, 38, 0, 0.75);
}

.review-contents {
    padding: 10px 10px 5px 10px;

    font-size: 14px;
    line-height: 21.5px;
    color: rgba(0, 0, 0, 0.5);
}

.bottom-review-group {
    display: flex;
    justify-content: space-between;  
    align-items: end;

    padding: 5px 10px 10px 10px;
    
    font-size: 12px;
}

.bottom-review-group .btn-group {
    gap: 7.5px;
}

.bottom-review-group .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: fit-content;
    padding: 5px 10px;
    
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.5);
    border-radius: 2.5px;
}

.bottom-review-group .btn-group .btn:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.buy-button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 560px;
    width: 100%;
    height: 60px;
}

.cart-btn {
    width: calc(50% - 15px);
    border-radius: 2.5px;
}

.buy-btn {
    width: calc(50% - 15px - 60px);
    border-radius: 2.5px;
}

.buy-button-group .btn {
    height: 100%;
    font-size: 18px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.125);
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.buy-button-group .btn:hover {
    color: rgba(0, 0, 0, 0.75);
    background-color: rgba(0, 0, 0, 0.025);
}

.heart-btn {
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.buy-button-group a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.review-date {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.25);
}

.left-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.blur {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: calc(100% - 85px);
    height: 100%;

    backdrop-filter: blur(3px);
    z-index: 50;
    transition: .5s;
}

.blur-btn {
    width: fit-content;
    padding: 15px;
    
    background-color: white;
    border-radius: 50px;
    color: rgba(0, 0, 0, 0.75);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.125);
}

.following {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

.following:hover {
    background-color: rgba(0, 0, 0, 0.75);
}

.book-introduce {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 20px 0;

    margin-top: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.contents {
    color: rgba(0, 0, 0, 0.5);
    line-height: 26px;
}

.corner {
    padding: 20px 0 0 0;

    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.recommend-books {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.book-list-cover {
    position: relative;

    display: flex;

    width: 1400px;
    width: calc(100% + 80px);

    overflow: visible;
}

.book-list {
    position: relative;
    right: 40px;
    
    width: 100%;
    height: 100%;
    padding: 0 40px 0 40px;

    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.book-list-cover::before {
    content: "";

    position: absolute;
    left: -40px;

    width: 40px;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), white);
    z-index: 50;
}

.book-list-cover::after {
    content: "";

    position: absolute;
    right: 40px;

    width: 40px;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), white);
    z-index: 50;
}

.book-list ul {
    display: flex;
    gap: 10px;

    width: fit-content;
    height: 100%;
    padding-bottom: 20px;

    margin-top: 20px;
}

.book-list li {
    position: relative;

    width: 172px;

    aspect-ratio: 1/1.5;
    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.125);
    transition: .2s;
    overflow: hidden;
}

.book-title {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.125);
    margin: 10px;
}

.book-list li:hover {
    scale: 1.025;
    
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);
}

.book-list li a {
    display: block;
    
    width: 100%;
    height: 100%;
}

.corner .book-info {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 150px;

    background-color: rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: .25s;
    opacity: 0;
    transform: translateY(100%);
    backdrop-filter: blur(2px);
}

.book-list li:hover .book-info {
    transform: translateY(0);
    opacity: 1;
}

.book-info-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    height: 100%;
    padding: 20px;
    padding-top: 0;
}

.book-info-text-title, .book-info-text-price {
    color: #fff;
}

.title {
    display: flex;
    align-items: center;
    
    width: fit-content;
    height: 30px;
    
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.75);
}

.dark-theme .book-title {
    color: #fff;
}

.book-cover .book-title {
    margin: 0; 
}

.left-arrow {
    position: absolute;
    top: 40%;
    left: -20px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.125);
    color: rgba(0, 0, 0, 0.5);
    z-index: 200;
    user-select: none;
    cursor: pointer;
    transition: .3s;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.left-arrow:hover {
    background-color: rgba(247, 247, 247, 0.75);
    color: rgba(0, 0, 0, 0.75);
}

.right-arrow {
    position: absolute;
    top: 40%;
    right: 60px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 40px;
    height: 40px;
    
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.125);
    color: rgba(0, 0, 0, 0.5);
    z-index: 200;
    user-select: none;
    cursor: pointer;
    transition: .3s;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.right-arrow:hover {
    background-color: rgba(247, 247, 247, 0.75);
    color: rgba(0, 0, 0, 0.75);
}