.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* main! */

main {
    width: 1200px;
    margin-top: 140px;
}

.main-banner-slide {
    position: relative;

    height: 500px;

    overflow: hidden;
}

.main-banner-slide .slide {
    display: flex;

    width: 400%;
    height: 100%;
}

.main-banner-slide .slide li {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background-position: 50% 50%;
    background-size: cover;
    font-size: 24px;
    color: #fff;
}

.first-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-image: url(https://images.unsplash.com/photo-1738005787855-9eb60201625d?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.second-banner {
    background-image: url(https://images.unsplash.com/photo-1732565277341-ebb37d748a87?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    filter: brightness(125%);
}

.third-banner {
    background-image: url(https://images.unsplash.com/photo-1738005787906-11fe4d0bcdad?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    filter: brightness(125%);
}

.main-banner-slide .indicator {
    position: absolute;
    top: 20px;
    left: 20px;
}

.main-banner-slide .indicator ul {
    display: flex;

    gap: 10px;
}

.main-banner-slide .indicator li {
    width: 10px;
    height: 10px;

    border: 1.5px solid white;
    border-radius: 50%;
    transition: 1.5s;
}

.popular {
    width: calc(100% - 320px);
    height: 100%;
}

.title {
    display: flex;
    align-items: center;
    
    width: fit-content;
    height: 30px;
    
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.75);
}

.main__flex {
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.book-list {
    width: 100%;
    height: 100%;
}

.book-list ul {
    display: flex;
    gap: 10px;

    width: max-content;
    height: 100%;

    margin-top: 20px;
}

.book-list li {
    position: relative;

    width: 172px;

    aspect-ratio: 1/1.5;
    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.125);
    transition: .2s;
    overflow: hidden;
}

.book-title {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.125);
}

.book-list li:hover {
    scale: 1.025;
    
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);
}

.book-list li a {
    display: block;
    
    width: 100%;
    height: 100%;
    padding: 10px;
}

.book-info {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 150px;

    background-color: rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: .25s;
    opacity: 0;
    transform: translateY(100%);
    backdrop-filter: blur(2px);
}

.book-list li:hover .book-info {
    transform: translateY(0);
    opacity: 1;
}

.book-info-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    height: 100%;
    padding: 20px;
    padding-top: 0;
}

.book-info-text-title, .book-info-text-price {
    color: #fff;
}

.book-info-text-title {
    font-size: 18px;
}

.book-info-text-price {
    opacity: 0.75;
}

.dark-theme {
    background-image: url(https://images.unsplash.com/photo-1607457561901-e6ec3a6d16cf?q=80&w=3000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 50% 50%;
    color: #fff;
}

.dark-theme .book-title {
    color: #fff;
}

.ads {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 280px;
    height: 100%;
    
    font-size: 24px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.125);
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.see-more {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 108px;
    height: 100%;

    color: rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.025);
}

.see-more:hover {
    color: rgba(0, 0, 0, 0.5);
}

.corner {
    padding: 20px 0;

    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

/* popup! */

.popup {
    
}